<% layout("/Layouts/boilerplate.ejs") %>

<body>

<!-- __________ Listing Details __________ -->

    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Listing Details</h3>
            <br>
        </div>
        <div class="card showListing-card col-8 offset-2">
            <img src="<%= listing.image.url %>" alt="listing image" class="card-image show-image">
            <div class="card-body">
                <p class="card-text" style="font-size: 2rem;"><b><%= listing.title %></b></p>
                <p>Owned by - <%= listing.owner.username %></p>
                <p class="card-text"><%= listing.description %></p>
                <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %> / night</p>
                <p class="card-text"><%= listing.location %></p>
                <p class="card-text"><%= listing.country %></p>
            </div>
        </div>
        
    </div>

    <!-- Book Now Button (only to Users) -->
    <% if(!currentUser || !currentUser._id.equals(listing.owner._id)){ %>
        <a href="/listings/<%= listing._id %>/book" class="btn btn-dark offset-2 mt-3" style="padding: 0.7rem 1rem;">Book Now</a>
    <% } %>
    
    <!-- Edit & Delete Button (only to Owner)-->
    <% if(currentUser && currentUser._id.equals(listing.owner._id)){ %>
        <div class="showListing-btns mb-4">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-2">Edit</a>
            <form method="Post" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark offset-4" style="background-color: black !important;">Delete</button>
            </form>
        </div>
    <% } %>
<hr>

<!-- ____________ Add Review __________ -->

    <div class="row">    
        <div class="col-8 offset-2 review-form mb-3">
            
            <% if(currentUser){ %>
                <br>
                <h3>Add Review</h3>
                <br>
                <form method="Post" action="/listings/<%= listing._id %>/review" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>

                        <fieldset class="starability-checkmark ">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>

                    </div>

                    <div class="mb-3">
                        <label for="comment" class="form-label">Comment</label>
                        <textarea placeholder="Write here.." name="review[comment]" id="comment" class="form-control" rows="5" required></textarea>
                        <div class="invalid-feedback">
                            Enter a valid review.
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-outline-light mb-4">Submit</button>
                </form>
                <hr>
            <% } %>
            

<!-- __________ Display All Reviews __________ -->

            <br>
            <h3>All Reviews</h3>
            <br>
            <% if(listing.reviews.length === 0){ %>
                <p>No Reviews Added.</p>
            <% } %>
            
            <div class="row">
                <% for(let review of listing.reviews){ %>
                <div class="card review-card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title mt-3"><i>@ <%= review.author.username %></i></h5>
                        <p class="starability-result card-text" data-rating=<%= review.rating %>></p>
                        <p class="card-text mt-3"><%= review.comment %></p>
                    </div>

                    <form method="Post" action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=DELETE" class="mt-3 mb-3">
                        <button class="btn btn-sm btn-dark" style="background-color: black !important;">Delete</button>
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </div>
<hr>

<!-- __________ Display Map __________ -->

    <div class="row">
        <div class="offset-2 me-5">
            <br>
            <h3>Where You'll be</h3>
            <br>
            <div id="map"></div>
        </div>
    </div>

<!-- _______________ JavaScript for Map. _______________ -->

    <script>
        const map = L.map('map')

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        fetch(`https://nominatim.openstreetmap.org/search?format=json&q=<%= listing.location %>,<%= listing.country %>`)
        .then(res => res.json())
        .then(data => {
            const lat = data[0].lat;
            const lon = data[0].lon;
            const customIcon = L.icon({
            iconUrl: "https://png.pngtree.com/png-vector/20240531/ourlarge/pngtree-house-symbol-icon-vector-png-image_12548629.png",
            iconSize: [30, 30],       // Size of the icon
            iconAnchor: [16, 35],     // Point of the icon which corresponds to marker location
            popupAnchor: [0, -32]     // Where the popup opens relative to the iconAnchor
            });
            map.setView([lat, lon], 11);
            L.marker([lat, lon],{ icon: customIcon }).addTo(map)
            .bindPopup("<h6><%=listing.title %></h6> <br> <%= listing.location %>, <%= listing.country %>")
            .openPopup();
        });
    </script>

</body>